header{
    /* display: block; */
    position: fixed;
    /* height: 100px; */
    z-index: 5;
}

/* .headerimg{
    position: relative;
} */

.headerAll{
    width: 1200px;
    height: 120px;
    position: absolute;
    top: 0%;
    left: 0%;
    padding-top: 50px;
    background-color: white;


    /* padding-left: 5%;
    padding-right: 5%; */
}


.header-top{
    float:right;
}


.header-bottom{
    display: flex;
    /* justify-content: space-between; */
    clear:right;
    font-size: 10px;
    margin-bottom: 30px;
    
}
.title1{
    justify-content: start;
    width: 10%;
}
.title2{
    justify-content: space-around;
    width: 30%;
}
.title3{
    justify-content: space-around;
    width: 30%;
}
.title4{
    position: absolute;
    right: 0%;
    /* width: 20%; */
}
.Title{
    padding-left: 3%;
    padding-right: 3%;
}


.space{
    width: 1200px;
    height: 120px;
}






/* mainスタート */
.mainTop{
    
    margin: 16px 16px 200px 16px;
}
p{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px;
    font-size: 10px;
    color: black;
    background-color: white;
}


/* １列目 */
.firstColumm{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}
.fontPosition1{
    /* position: relative; */
    width: 50%;
    margin: 16px;
}
/* p{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: black;
    background-color: gray;
} */

/* 2列目 */
.secondColumm{
    display: flex;
    justify-content: space-around;
    padding-left: 8px;
    padding-right: 8px;
} 
.fontPosition2{
    position: relative;
    width: 25%;
    margin: 16px;
}
/* p{
    position: absolute;
    top: 0%;
    right: 5%;
    font-size: 20px;
    color: black;
    background-color: gray;
} */


/* 3列目 */
.thirdColumm{
    display: flex;
    justify-content: space-around;
    padding-left: 8px;
    padding-right: 8px;
} 
.fontPosition3{
    position: relative;
    width: 25%;
    margin: 16px;
}
/* p{
    position: absolute;
    top: 0%;
    right: 5%;
    font-size: 20px;
    color: black;
    background-color: gray;
} */

/* 4列目 */
.forthColumm{
    display: flex;
    justify-content: space-around;
    padding-left: 8px;
    padding-right: 8px;
}
.BigfontPosition4{
    width: 50%;
}

.fontPosition4{
    position: relative; 
    width: 50%;
    margin: 16px;
}

/* p{
    position: absolute;
    top: 0%;
    right: 5%;
    font-size: 20px;
    color: black;
    background-color: gray;
} */

.square1{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    width: 50%;
    /* justify-content: space-around; */
}


/* 5列目 */
.fifthColumm{
    display: flex;
    justify-content: space-around;
    padding-left: 8px;
    padding-right: 8px;
}
.fontPosition5{
    position: relative;
    width: 50%;
    margin: 16px;
}
/* p{
    position: absolute;
    top: 0%;
    right: 5%;
    font-size: 20px;
    color: black;
    background-color: gray;
} */
.square2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
}

.BigfontPosition5{
    display: flex;
    justify-content: end;
    width: 50%;
}


.twopictures{
    display: flex;
    justify-content: space-around;
}

/* 6列目 */
.sixthColumm{
    display: flex;
    justify-content: space-around;
    padding-left: 8px;
    padding-right: 8px;
}
.fontPosition6{
    position: relative;
    width: 25%;
    margin: 16px;
}
/* p{
    position: absolute;
    top: 0%;
    right: 5%;
    font-size: 20px;
    color: black;
    background-color: gray;
} */

/* 7列目 */
.seventh{
    display: flex;
    justify-content: flex-start;
    padding-left: 4px;
    padding-right: 4px;
}
.fontPosition7{
    position: relative;
    width: 25%;
    margin: 16px;
}
/* p{
    position: absolute;
    top: 0%;
    right: 5%;
    font-size: 20px;
    color: black;
    background-color: gray;
} */


/* main下部コーナー */

/* main上 */
.main{

}

.main-bottom{
    background-color:rgb(233, 229, 229);
    padding: 150px 60px 0 60px;
    margin-bottom: 0%;
}

.infomationTitle{
    text-align: center;
    margin-bottom: 50px;
    color: black;
    font-size: 3ch;
}


.infomation{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    position: relative;
}

.caption{
    /* height: 20%;
    width: 10%; */
    position: absolute;
    top: 40%;
    left: 5%;
}

/* ☝☟上下のやつはいらない。「position」で『detail』の位置を決めてるから、『caption』の位置も勝手に決まる */

.detail{
    height: 50px;
    width: 80%;
    position: absolute;
    left: 20%;
}

/* .calendar🔵🔵{
    position: absolute;
    top: %;
    right: px;
    font-size: px;
    color:;
    background-color:;
} */


.calendar1{
    display: flex;
    justify-content: flex-start;
}

.calendar2{
    display: flex;
    justify-content: flex-start;
}

.calendar3{
    display: flex;
    justify-content: flex-start;
}

.calendar4{
    display: flex;
    justify-content: flex-start;
}

.calendar5{
    display: flex;
    justify-content: flex-start;
}

.calendar6{
    display: flex;
    justify-content: flex-start;
}

/* main上 */
/* main下部のボタン */
.ButtonArea{
    display: flex;
    justify-content: center;
    margin-bottom: 10ch;
}

/* 下2つよくわかってない */
.button{
    background-color: rgb(233, 229, 229);
    border: black 1px solid;
    padding: 1em;
    color: black;
    font-size: 1em;
}
.block{
    display: block;
    width: 150px;
    margin: 30px;
}

/* main下 */
.additionInfo{
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
}

.info1{
    width: 33%;
    height: 150px;
    background-color: white;
}
.info2{
    width: 33%;
    height: 150px;
    background-color: black;
}
.info3{
    width: 33%;
    height: 150px;
    background-color: white;
}


/* 『footer』スタート */

.footerAll{
    background-color: black;
    font-size: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.footerTop{
    display: flex;
    justify-content: center;
    width: 30%;
    color: white;
}


.footerCenter{
    display: flex;
    justify-content: flex-start;
    width: 30%;
    color: rgb(247, 238, 238);
}
.PP{
    margin-right: 30%;
}


.footerbottom{
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 30px;
    color: white;
}
.facebook{
    margin-right: 20px;
}
.twiter{
    margin-right: 20px;
}
.insta{
    margin-right: 20px;
}